<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static01.nyt.com/images/2013/10/03/obituaries/CLANCY-refer/CLANCY-refer-superJumbo.jpg);">

</div>

<div class="container">
    <div class="">
      <h1>My Bookshelf</h1>
      <p>My collection of Tom Clancy's books and much more.</p>
    </div>


  <div class="mt-3 mb-3">
    <span class="btn-add">
      <%= link_to "Add new book", new_book_path %>
    </span>
  </div>


  <div class="book-box mb-4">
    <div class="display-grid">
      <% @books.each do |book| %>
        <% if book.author == "Stephen King" %>
          <div class="book-style">
            <img src="<%= book.cover %>" >
            <span class="btn-title">
              <%= link_to book.title,   book_path(book.id) %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="book-box mb-4">
    <div class="display-grid">
      <% @books.each do |book| %>
        <% if book.author == "Tom Clancy" %>
          <div class="book-style">
            <img src="<%= book.cover %>" >
            <span class="btn-title">
              <%= link_to book.title,   book_path(book.id) %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
